body {
  padding: 0;
  margin: 0;
  margin-left: 20px;
  font-family: Monospace;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 23px;
}

#grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 300px 300px;
}

.cryption-grid {
  display: grid;
  grid-template-columns: 10vw 40vw;
  grid-template-rows: 50px 150px 100px;
}

.header {
  grid-column: 1/3;
}

.textarea {
  grid-row: 2/3;
  grid-column: 1/3;
}

button {
  grid-row: 3/4;
  grid-column: 1/2;

/*   font-size: 20px; */
  width: 80%;
  height: 30%;
}

#encrypted-message, #decrypted-message {
  margin: 0;
  margin-top: 5px;
  font-size: 16px;
}
